{{- $node := .node -}}
{{- $current := .current -}}
{{- $childSections := $node.Sections.ByTitle -}}
{{- $childPages := $node.RegularPages.ByWeight -}}
{{- $hasChildren := gt (add (len $childSections) (len $childPages)) 0 -}}
{{- $isCurrent := eq $current.RelPermalink $node.RelPermalink -}}
{{- $isOpen := or $isCurrent ($current.IsDescendant $node) -}}

{{- if $hasChildren -}}
<li class="vt-tree-node {{ if $isCurrent }}is-active{{ end }}">
  <details {{ if $isOpen }}open{{ end }}>
    <summary>
      <span>{{ $node.LinkTitle }}</span>
    </summary>
    <ul>
      {{- range $childPages -}}
      <li class="vt-tree-leaf {{ if eq $current.RelPermalink .RelPermalink }}is-active{{ end }}">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
      {{- end -}}

      {{- range $childSections -}}
      {{- partial "sidebar-tree-node.html" (dict "node" . "current" $current) -}}
      {{- end -}}
    </ul>
  </details>
</li>
{{- else -}}
<li class="vt-tree-leaf {{ if $isCurrent }}is-active{{ end }}">
  <a href="{{ $node.RelPermalink }}">{{ $node.LinkTitle }}</a>
</li>
{{- end -}}
